<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="com.example" level="debug"/>
    <logger name="org.apache.cxf" level="INFO"/>
    <!-- level INFO needed to log SOAP messages -->
    <logger name="org.apache.cxf.services" level="INFO"/>

    <root level="error">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>